<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			{{ title }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">{{ title }}</ion-title>
		</ion-toolbar>
	</ion-header>

	<app-explore-container>
		<div class="container">
			<ion-tab-button tab="burgers">
				<ion-card>
					<ion-card-header>
						<ion-card-title>Burgers</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						Finest burgers in town!
					</ion-card-content>
				</ion-card>
			</ion-tab-button>
		</div>
	</app-explore-container>

	<app-order [orders]="orders"></app-order>
</ion-content>
