<ion-app>
	<ion-split-pane contentId="main-content">
		<ion-menu contentId="main-content" type="overlay">
			<ion-content>
				<ion-list id="inbox-list">
					<ion-list-header>Order-Up</ion-list-header>
					<ion-note>Hello, Taylor</ion-note>
<!--					<ion-note>Hello, {{ user.name }}</ion-note>-->
					<ion-menu-toggle auto-hide="false" *ngFor="let item of menuItems; let i = index">
						<ion-item routerDirection="root" [routerLink]="[item.url]" lines="none" detail="false"
								  routerLinkActive="selected">
							<ion-icon slot="start" [ios]="item.icon + '-outline'"
									  [md]="item.icon + '-sharp'"></ion-icon>
							<ion-label>{{ item.title }}</ion-label>
						</ion-item>
					</ion-menu-toggle>
				</ion-list>

				<app-cart [cartItems]="cartItems" ></app-cart>
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>
